
.btn btn-primary {
    color:#ac87c5;
  }
  
  .btn btn-primary :hover {
    color: #FFE5E5;
  }

p {
    color:black;
    text-align:justify;
    font-size: 16px;
    font-family: 'Poppins';
    padding-right: 48px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    margin-top:10px;
}